body {
    font-family: 'Times New Roman', serif;
    background-color: #000;
    color: white;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #1c1c1c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
}

h1 {
    text-align: center;
    margin: 0;
}

input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#addTaskButton {
    background-color: #4CAF50;
    color: white;
}

#addTaskButton:hover {
    background-color: #45a049;
}

.task-buttons {
    margin: 20px 0;
    text-align: center;
}

.filter-button {
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
}

.filter-button.personal {
    background-color: orange;
}

.filter-button.pending {
    background-color: blue;
}

.filter-button.completed {
    background-color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #555;
}

.completed {
    text-decoration: line-through;
    color: #999;
}
